gunicorn
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
cloudinary
PyMuPDF
pdfplumber
groq
email-validator
bcrypt==4.0.1
jinja2
scikit-learn==1.6.1
firebase-admin